# --- Modelo y Paths ---
MODEL_PATH=models/
EMBEDDINGS_DATA_PATH=data/embeddings.npy
LABELS_DATA_PATH=data/labels.csv

# --- Configuración de la API ---
API_PORT=5000
MAX_CONTENT_MB=5
VERIFY_THRESHOLD=0.75
MODEL_VERSION="me-verifier-v1"