# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Data (Ignorar todas las fotos y datos)
data/me

# Artefactos (Ignorar modelos, reportes y métricas)
models/
reports/

# Archivos de SO
.DS_Store
Thumbs.db

# Configuración local
.env